body {
    background-color: rgb(255, 243, 240);
}

/* for index page */
#box, #box2 {
    width: 900px;
    margin: auto;
    border: black dotted 2px;
    background-color: azure;
}

#box {
    margin-top: 150px;
}

#bhead, #ahead {
    text-align: center;
    font-size: 50px;
    padding: 10px 0 5px 0;
}

#btext {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

#bclick {
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 22px;
    border-radius: 20%;
    background-color: rgb(255, 243, 240);
    border: black solid 1px;
}

#bclick:hover, .nclick:hover, #done:hover {
    font-weight: bold;
}

#api {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

/* no longer for index page */

#contain {
    display: block;
    margin: auto;
    width: 980px;
    background-color: azure;
}

h2 {
    font-size: 50px;
    margin-left: 20px;
}

#uniqeInfo {
    margin-left: 20px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

#name {
    width: 300px;
}

#url {
    width: 90%;
}

#questions {
    margin-left: 20px;
}

h4 {
    font-weight: bold;
    font-size: 22px;
}

select {
    margin-top: 10px;
}

.qu {
    margin-bottom: 30px;
}

#ax {
    margin-bottom: 40px;
}

#submit, #fin {
    justify-content: center;
    align-items: center;
    display: flex;
}

#done {
    font-size: 22px;
    border-radius: 20%;
    background-color: rgb(255, 243, 240);
    border: black solid 1px;
    margin-bottom: 20px;
    width: 85%;
}

/* for result page */

#home {
    font-size: 22px;
    border-radius: 20%;
    background-color: rgb(255, 243, 240);
    border: black solid 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#box2 {
    display: none;
    margin-top: 30px;
}

#winner {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

#pic {
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;
}

@media screen and (max-width: 905px){
    #box, #box2 { width: 99%; }
}

@media screen and (max-width: 1000px){
    #contain { width: 100%; }
}